<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comments App</title> 

    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <section>
        <h1>Página não encontrada!</h1>
        <p>A página que você tentou acessar não existe!<br>
            <a href="/">Clique aqui</a> para retornar ao início.
          </p>
    </section>
</body>
</html>